@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;

}

body,
#root {
  
  margin: 0;
  background-color: #e7e6dd;
}

body,
input,
select,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6 rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 7% 9fr 50px;
  grid-template-columns: 1fr;
 
}

a {
  text-decoration: none;
}
header {
  height: 140%;
  grid-area: header;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("r.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

header a {
  color: white;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  font-size: 50px;
  padding-left: 20px;
}

a:hover {
  color: #ff8000;
}
main {
  grid-area: main;
  margin-top: 30px;
}

footer {
  grid-area: footer;
  background-color: #28122b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color:white
}


.content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.main {
  flex: 3 60rem;
}



/*/ products*/
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.products li {
  margin: 30px;
  height: 25%;
  width: 20%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  background-color: white;
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product img {
  width: 90%;
  height: 70%;
}

.product p {
  text-align: center;
  font-size: 15px;
}
.product-price div {
  text-align: center;
  flex: 1;
  font-size: 2rem;
}


.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
}

.button:hover {
  border: 0.1rem #808080 solid;
  cursor: pointer;
}
.button.primary {
  background-color: #f0c040; 
}

.overlay {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
}

.product:hover .overlay {
  opacity: 1;
}

.button.primary.overlay {
  padding-bottom: -20px;
  max-width: 100%;
}


/*product Modal */
.productsModal {
  width: 60%;
  position: relative;
  left: 21%;
  top: 13%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    23deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 250, 222, 0.9780287114845938) 100%
  );
}

.product-Info-text {
  font-size: 30px;
  position: relative;
  top: 8px;
  text-align: center;
  font-family: "Secular One", sans-serif;
}

.product-details-description {
  font-size: 15px;
  position: relative;
  left: 20px;
  margin-top: 80px;
}

.product-Info .product-price-Modal {
  position: absolute;
  bottom: 15%;
  left: 67%;
}

.product-price-Modal > button.primary {
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
}

.product-price-Modal div {
  text-align: center;
  flex: 1;
  font-size: 2rem;
}
/*Filter*/

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5px;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  position: relative;
  top: 3px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  max-height: 46px;
}

.OrderFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BrandFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  top: -5px;
  width: 170px;
  border: 1px solid #666;
  background: #f0c040;
  min-height: 42px;
  margin-left: 10px;
}

.dropdown__text {
  color: black;
  padding: 7px 5px;
  cursor: pointer;
  height: auto;
}

.dropdown__text:hover {
  color: black;
}

.dropdown__text:after {
  content: "";
  transition: all 0.3s;
  border: solid black;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.active {
  border-bottom: 0px;
  margin-left: 10px;
}

.dropdown.active .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: relative;
  left: -1px;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
  width: 170px;
}

.dropdown.active .dropdown__items {
  visibility: visible;
  background-color: #f0c040;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  height: auto;
  max-height: 290px;
  opacity: 1;
  transition: max-height 0.7s, opacity 1s, visibility 4s ease;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px 18px;
  width: 100%;
}

.dropdown__item:hover {
  color: white;
  background: #3a4143;
}

/*cart*/

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
  position: relative;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  top: 1px;
}
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  position: relative;
  flex-direction: row;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 6rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
}

.Total {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Total > div {
  font-size: 18px;
  color: red;
  font-weight: 600;
}

.Total > button.primary {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  width: 300px;
}
/* form*/
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 15px;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

form {
  width: 100%;
}

/*Order Modal*/

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100hv;
  max-width: 46rem;
  margin: 1rem;
}

.product-Info {
  flex: 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1000;
}

/*order*/

.order-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.order-details ul {
  position: relative;
  top: 20px;
}

.order-details li {
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.order-details ul li div {
  padding: 10px;
  font-size: 20px;
}

.order-details .items {
  padding: 0;
}

.success-message {
  color: red;
  font-size: 30px;
  position: relative;
  bottom: 30px;
}

.order-details li ul.text {
  list-style-type: none;
  font-size: 20px;
  padding-left: 10px;
  vertical-align: text-top;
}
